html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    align-content: center;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 700px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.0em;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck-panel {
    position: relative;
    align-items: center;
    justify-content: center;
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    list-style: none;
}

.deck .card {
    height: 125px;
    width: 125px;
    align-items: center;
}

.deck .card .card-display {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@keyframes open-animation {
    0% {
        transform: scale(1, 1);
        background: #2e3d49;
    }
    50% {
        transform: scale(0, 1);
        background: #2e3d49;
    }
    50.1% {
        transform: scale(0, 1);
        background: #02b3e4;
    }
    100% {
        transform: scale(1, 1);
        background: #02b3e4;
    }
}

@keyframes open-symbol-animation {
    0% {
        font-size: 0px;
    }
    50% {
        font-size: 0px;
    }
    50.1% {
        font-size: 33px;
    }
}

.deck .card .card-display.open {
    background: #02b3e4;
    cursor: default;
    animation: open-animation 0.2s linear 0s 1 normal forwards;
}

.deck .card .card-display.open i {
    animation: open-symbol-animation 0.2s linear 0s 1 normal forwards;
}

.deck .card .card-display.show {
    font-size: 33px;
}

@keyframes close-animation {
    0% {
        transform: scale(1, 1);
        background: #02b3e4;
    }
    50% {
        transform: scale(0, 1);
        background: #02b3e4;
    }
    50.1% {
        transform: scale(0, 1);
        background: #2e3d49;
    }
    100% {
        transform: scale(1, 1);
        background: #2e3d49;
    }
}

@keyframes close-symbol-animation {
    0% {
        font-size: 33px;
    }
    50% {
        font-size: 33px;
    }
    50.1% {
        font-size: 0px;
    }
    100% {
        font-size: 0px;
    }
}

.deck .card .card-display.close {
    background: #02b3e4;
    cursor: default;
    animation: close-animation 0.2s linear 0s 1 normal forwards;
}

.deck .card .card-display.close i {
    animation: close-symbol-animation 0.2s linear 0s 1 normal forwards;
}

@keyframes match-animation {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.2);
    }
}

.deck .card .card-display.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: match-animation 0.2s alternate 0s 2 forwards;
}

.deck .card .card-display.hidden {
    display: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
    font-size: 1.7em;
    display: flex;
    flex-direction: row;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves-text {
    margin: 0 0px 0 40px;
}

.score-panel .time-text {
    margin: 0 0px 0 40px;
}

.score-panel .restart {
    margin: 0 0px 0 40px;
    float: right;
    cursor: pointer;
}

/*
 * Styles for the congratulations panel
 */
 
@keyframes congrats-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.congrats-panel {
    background: linear-gradient(160deg, #cc7a6c 0%, #917e4a 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 3em;
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 5%;
    animation: congrats-animation 1s;
}

.congrats-panel h2 {
    text-align: center;
}

.congrats-panel .stars {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.congrats-panel .stars li {
    list-style: none;
    display: inline-block;
}

.congrats-panel p {
    text-align: center;
}

.congrats-panel.enabled {
    display: flex;
    flex-direction: column;
}

.congrats-panel .restart {
    border-radius: 10px;
    background: linear-gradient(160deg, #79ee36 0%, #50914a 100%);
    padding: 10px;
    cursor: pointer;
}

.congrats-panel p .disabled {
    display: none;
}